*{
    margin: auto;
    box-sizing: border-box;
}

header{
    h1{
        font-family: cursive;
        color: #ff9614;
        padding: 2px 5px;
    }
    
}

.logo{
    width: 100%;
}

main{
    width: 100%;
    background-color: #f6f5f3

}

.container{
    width: 100%;
    padding: 0;

    h3{
        color: grey;
        font-size: 7px;
        font-family: sans-serif;
    }
}
























@media screen and (max-width:480px){

    .logo{
        display: flex;
    }
    h1{
        justify-content: center;
    }
}


@media screen and (min-width:768px){

    .container{
        padding: 20px;
    }
}


